<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link rel="stylesheet" href="CSS/index.css">
</head>
<body>
    <img src="./img/FetchRx.png" class="logo">
    <div class="background"></div>
    <div class="content"></div>
    <div class="landing-container">
        <!-- <h1>Simplify medication management. Schedule a secure prescription delivery with a geriatric care nurse today.</h1> -->
        <h1>Peace of mind for you, expert care for your loved ones. Get prescriptions delivered by verified nurses.</h1>
        <br>
        <div class="get-started">
            <h3><a href="/login" class="role-btn patient">Get Started</a></h3>
        </div>
    </div>
</body>
</html>
