<!DOCTYPE html>
<html>
    <head>
        <title>Sign-up Page</title>
    </head>
    <body>
        <h1>Create an account here</h1>
        <form method="POST">
            <input type="text" name="username" placeholder="Username">
            <br><br>
            <input type="text" name="password" placeholder="Password">
            <br><br>
            <input type="text" name="email" placeholder="Email">
            <br><br>
            <label for="role-id">Signing up as customer or employee?</label>
            <br>
            <select id="role-id" name="role">
                <option value="user">Customer</option>
                <option value="nurse">Employee</option>
            </select>
            <br><br>
            <button type="submit">Create New Account</button>
        </form>
    </body>
</html>